.books-grid {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  margin-bottom: 20px;
}

.container {
  margin: 0;
  padding: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.row {
  gap: 15px;
}

.card {
  max-width: 250px;
  flex: 50%;

  p {
    font-size: 0.8rem;
  }

  .cover {
    margin: auto;
    height: 300px;
  }

  .cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    margin: 10px 0 0;
    color: $secondary-color;
  }

  .card-text {
    color: $secondary-color;
  }
}

@media (max-width: 600px) {
  h5 {
    font-size: 0.8rem;
  }

  .card {
    max-width: 200px;
    padding: 0 8px;
    .cover {
      height: 250px;
    }

    p {
      font-size: 0.7rem;
    }
  }
}
