h2 {
  margin-bottom: 20px;
}

.container {
  margin: 0;
}

.row {
  gap: 15px;
}

.card {
  width: 18rem;

  p {
    font-size: 0.8rem;
  }

  .cover {
    display: flex;
    justify-content: center;
    height: 200px;
  }

  img {
    max-width: 10rem;
  }

  .card-title {
    margin: 10px 0 0;
    color: $secondary-color;
  }

  .card-text {
    color: $secondary-color;
  }
}
