$green-dark: #185a3b;
$green-light: #cdfae5;

$primary: $green-dark;
$secondary: $green-light;

$font-family-sans-serif: "Nunito Sans", sans-serif;
$display-font-weight: 700;
$headings-color: #2d3a33;

$navbar-padding-x: 2rem;
$navbar-light-brand-color: #fff;

$input-btn-focus-box-shadow: null;
