.filter-container {
  display: flex;
  flex-direction: row;
}

.filter-text {
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
}

input {
  max-width: 200px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}

@media (max-width: 300px) {
  .filter-container {
    flex-direction: column;
  }
}
