// Fonts
@mixin decorative-font {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

// Colors
$dark-text: var(--bs-gray-800);
$grey-text: var(--bs-gray-500);
// $beige-color: #fceec6;

$primary-color: #fceec6;
$secondary-color: #442101;

// list-group
$primary: $primary-color;
$secondary: $secondary-color;
$list-group-active-bg: $primary-color;
$list-group-active-color: $secondary-color;
$list-group-active-border-color: $secondary-color;
$list-group-hover-bg: $primary-color;
$list-group-action-hover-color: $secondary-color;
$list-group-border-color: $primary-color;

// card
$card-border-color: $primary-color;

// fonts
$font-family-base: "Montserrat", sans-serif;
$h5-font-size: 1.1rem;
