@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url("../../node_modules/bootstrap-icons/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

h6,
p {
  margin: 0;
}

h5 {
  color: $primary;
  font-weight: 600;
  font-size: 1.1rem;
}

.login-page-form {
  margin: 20vh auto;
  max-width: 600px;
  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }

  label {
    margin-bottom: 0.5rem;
  }

  .form-group {
    margin-bottom: 0.7rem;
  }

  .form-group:last-of-type {
    margin-bottom: 1.2rem;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
