@import "_fonts-colors";
@import "~bootstrap/scss/bootstrap";
@import "_cards";
@import "_genres";
@import "_filters";

* {
  box-sizing: border-box;
}

// body {
//   position: absolute;
// }

.wrapper {
  overflow-x: hidden;
}

.largeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 60px;
}

header {
  @include decorative-font;
  background-color: $primary-color;
  color: $secondary-color;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
}

footer {
  margin-top: 60px;
  padding: 60px;
  text-align: center;
  background-color: $primary-color;
}

h2 {
  color: $secondary-color;
}

.pos-f-t {
  display: none;
}

@media (max-width: 700px) {
  .genres {
    display: none;
  }

  .pos-f-t {
    display: block;
    margin-right: 5px;
  }

  main {
    margin: 0 10px;
    flex-wrap: wrap;
  }

  header {
    margin-bottom: 10px;
  }
}
